/*Configurações Gerais Iniciadas*/
*{
    /*espaçamento*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'bahnschrift';
}
a{
    text-decoration: none;
    color: transparent;
}
/*Configurações Gerais Finalizadas*/

/*Body Iniciado*/
body{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: rgb(255, 212, 244); 
}
/*Body Finalizado*/


/*Container-Header Iniciado*/
.container-header{
    /*espaçamento*/
    width: 50%;
    height: auto;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-image: linear-gradient( to right, #f077aa, #df6e9d , #d86796 ,#c25b86) ;
}
.header{
    /*espaçamento*/
    padding: 0;
    margin: 0;
} 
/*Container-Header Finalizado*/

/*Compartilhado Iniciado*/
.compartilhado{
    
}
.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;
}
.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
}
.dropdown-child {
    display: none;
    background-color: white;
    width: 40px;
    border-radius: 10px;
}
.dropdown-child a {
    padding: 1vh;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.whatsapp-btn{
    color: green;
    width: 100%;
    height: auto;
}
.instagram-btn{
    color: #DD2A7B;
    width: 100%;
    height: auto;
}
.facebook-btn{
    color: blue;
    width: 100%;
    height: auto;
}
/*Compartilhado Finalizado*/

/*Header Iniciado*/

.header_images{
    /*espaçamento*/
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_logo_prestador{
    /*espaçamento*/
    width: 25%;
    border-radius: 100px;
    /*estilização*/
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.932);
		-moz-box-shadow:    9px 7px 5px rgba(44, 44, 44, 0.932);
		box-shadow:         9px 7px 5px rgba(37, 37, 37, 0.932);
}
.description{
    /*espaçamento*/
    width: 100%;
    text-align: center;
    padding: 2em;
}
.header_titulo{
    /*espaçamento*/
    padding: 0.1em;
    /*estilização*/
    font-size: 24pt;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
}
.header_festarea_nicho{
    /*espaçamento*/
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    /*estilização*/
    color: rgb(255, 255, 255);
}
/*Header Finalizado*/

/*Menu Soundbar Iniciado*/
.menu_soundbar{
    background-color: white;
    width: 50%;
    display: flex;
    padding: 2.5vh;
    justify-content: center;
    align-items: center;
    column-gap: 5vh;
}
.item_menu_soundbar{
    width: max-content;
    display: flex;
    column-gap: 1vh;
    align-items: center;
    color: black;
    padding: 0.25vh;
}
.serviços_principais{
    color: rgba(240,119,170,255);
    border-bottom: 2px solid rgba(240,119,170,255);
}
/*Menu Soundbar Finalizado*/


/*Início do Media*/
/*De 0 a 320px*/

@media (min-width: 0px) and (max-width: 320px){
    /*Body Iniciado*/
    body{
        
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 100%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
    .compartilhado{
        
    }
    .mainmenubtn {
        
    }
    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .dropdown-child {
        display: none;
        background-color: white;
        width: 40px;
        border-radius: 10px;
    }
    .dropdown-child a {
        padding: 1vh;
        text-decoration: none;
        display: block;

    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .whatsapp-btn{
        color: green;
        width: 100%;
        height: auto;
    }
    .instagram-btn{
        color: #DD2A7B;
        width: 100%;
        height: auto;
    }
    .facebook-btn{
        color: blue;
        width: 100%;
        height: auto;
    }
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 50%;
        border-radius: 100px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 16pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 10pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 10pt;
        display: flex;
        column-gap: 1vh;
        align-items: center;
        color: black;
        padding: 0.25vh;
    }
    .serviços_principais{
        color: rgba(240,119,170,255);
        border-bottom: 2px solid rgba(240,119,170,255);
    }
    /*Menu Soundbar Finalizado*/
}




/*De  a 321px a 375px*/
@media (min-width: 321px) and (max-width: 375px){
    /*Body Iniciado*/
    body{
        
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 100%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
    .compartilhado{
        
    }
    .mainmenubtn {
        
    }
    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .dropdown-child {
        display: none;
        background-color: white;
        width: 40px;
        border-radius: 10px;
    }
    .dropdown-child a {
        padding: 1vh;
        text-decoration: none;
        display: block;

    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .whatsapp-btn{
        color: green;
        width: 100%;
        height: auto;
    }
    .instagram-btn{
        color: #DD2A7B;
        width: 100%;
        height: auto;
    }
    .facebook-btn{
        color: blue;
        width: 100%;
        height: auto;
    }
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 50%;
        border-radius: 100px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 16pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 10pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 10pt;
        display: flex;
        column-gap: 1vh;
        align-items: center;
        color: black;
        padding: 0.25vh;
    }
    .serviços_principais{
        color: rgba(240,119,170,255);
        border-bottom: 2px solid rgba(240,119,170,255);
    }
    /*Menu Soundbar Finalizado*/
}



/*De  a 376px a 425px*/
@media (min-width: 376px) and (max-width: 425px){
    /*Body Iniciado*/
    body{
        
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 100%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
    .compartilhado{
        
    }
    .mainmenubtn {
        
    }
    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .dropdown-child {
        display: none;
        background-color: white;
        width: 40px;
        border-radius: 10px;
    }
    .dropdown-child a {
        padding: 1vh;
        text-decoration: none;
        display: block;

    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .whatsapp-btn{
        color: green;
        width: 100%;
        height: auto;
    }
    .instagram-btn{
        color: #DD2A7B;
        width: 100%;
        height: auto;
    }
    .facebook-btn{
        color: blue;
        width: 100%;
        height: auto;
    }
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 50%;
        border-radius: 100px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 16pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 10pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 10pt;
        display: flex;
        column-gap: 1vh;
        align-items: center;
        color: black;
        padding: 0.25vh;
    }
    .serviços_principais{
        color: rgba(240,119,170,255);
        border-bottom: 2px solid rgba(240,119,170,255);
    }
    /*Menu Soundbar Finalizado*/
}

