/* ESTRUTURA : OBJETIVOS 
-Body
    - Container
        - header
            - header-id-prestador
                - header-logo
                - header-tit
            - material-symbol
        - serviços
            - serviços-imgs
        - cardapio
            - cardapio-tit
            - cardapio-descrição-item
                - cardapio-descrição-tit
                - cardapio-descrição-conteúdo
        - contratar
            - contratar-button
    - footer
        - footer-logo

*/


/*CONFIGURAÇÕES GERAIS INICIADA*/
*{
    /*espaçamento*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CONFIGURAÇÕES GERAIS FINALIZADA*/


/*BODY INICIADO*/
body{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: rgb(255, 212, 244);
}
/*BODY FINALIZADO ===>>> FINALIZAMOS AGORA POIS ELE É POUCO CONFIGURADO*/


/*CONTAINER INICIADO*/
.container{
    width: 50%;
    background-color: white;
    height: auto;
    border-radius: 50px;
}
/*CONTAINER FINALIZADO*/



/*HEADER INICIADO*/
.header{
    /*espaçamento*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*estilização*/
    background-color: white;
}
.header-id-prestador{
    /*espaçamento*/
    display: flex;
    align-items: center;
}
.header-logo{
    /*espaçamento*/
    width: 7.5%;
    height: auto;
    margin: 10px;
    /*estilização*/
    border-radius: 30px;
}
.header-tit{
    /*identificativo*/
    font-family: bahnschrift;
    font-size: 12pt;
}
#close{
    /*espaçamento*/
    padding: 5px;
    margin: 10px;
    height: auto;
    /*estilização*/
    color: white;
    background-color: rgb(172,0, 0);
    border-radius: 30px;
    /*responsividade*/
    cursor: pointer;
}
/*HEADER TERMINADO*/








/*SERVIÇOS INICIADO*/
.serviços{
    /*espaçamento*/
    padding: 30px;
    display: flex;
    gap: 20px;
    /*estilização*/
    background-color: rgb(235, 226, 255);
    /*responsividade*/
    overflow-x: auto;

}
.serviços-imgs{
    /*espaçamento*/
    width: 60%;

}
/*SERVIÇOS FINALIZADO*/



/*CARDAPIO INICIADO*/
.cardapio{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    
}
.cardapio-tit{
    /*espaçamento*/
    padding: 15px;
    /*identificativo*/
    font-size: 16pt;
    font-family: bahnschrift;
    /*estilização*/
    font-weight: bold;
    border: 2px solid white;


}
.cardapio-descrição-item{
    /*espaçamento*/
    display: flex;
    justify-content: left;
    align-items: center;
    /*responsividade*/
    flex-wrap: wrap;

}
.cardapio-descrição-tit{
    /*espaçamento*/
    padding: 15px;
    /*identificativo*/
    font-size: 14pt;
    font-family: bahnschrift;
    /*estilização*/
    font-weight: bold;
    color: rgb(60, 60, 60);
    border: 2px solid white;
}
.cardapio-descrição-conteudo{
    /*espaçamento*/
    width: 100%;
    padding-left: 30px;
    /*identificativo*/
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    /*estilização*/
    color: rgb(27, 27, 27);
}
/*CARDAPIO FINALIZADO*/




/*CONTRATAR INICIADO*/
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh;
}
.contratar{
    /*espaçamento*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.contratar-button{
    /*espaçamento*/
    width: 50vh;
    height: 7.5vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /*identificativo*/
    font-family: bahnschrift;
    /*estilização*/
    border-radius: 30px;
    background-color: green;
    color: white;
    border: none;
    -webkit-box-shadow: 9px 7px 5px rgba(187, 187, 187, 0.932);
		-moz-box-shadow:    9px 7px 5px rgba(123, 123, 123, 0.932);
		box-shadow:         9px 7px 5px rgba(157, 157, 157, 0.932);
    /*responsividade*/
    cursor: pointer;
}
.contratar-button:active{
    /*estilização*/
    background-color: rgb(0, 44, 0);
    /*responsividade*/
    transition: 0.50s all;
}
.link_contratar{
    width: 100%;
    text-decoration: none;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
/*CONTRATAR FINALIZADO*/




/*FOOTER INICIADO*/
.footer{
    /*espaçamento*/
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: transparent;
}
#footer-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    /*espalamento*/
    width: 15%;
    height: auto;   
}
/*FOOTER FINALIZADO*/


@media (min-width: 0px) and (max-width: 426px){

    body{
    /*espaçamento*/
    
    /*estilização*/
    
}
/*BODY FINALIZADO ===>>> FINALIZAMOS AGORA POIS ELE É POUCO CONFIGURADO*/


/*CONTAINER INICIADO*/
.container{
    width: 100%;
    border-radius: 0;
    
}
/*CONTAINER FINALIZADO*/



/*HEADER INICIADO*/
.header{
    /*espaçamento*/
    position: fixed;
    
    -webkit-box-shadow: 9px 7px 5px rgba(187, 187, 187, 0.932);
		-moz-box-shadow:    9px 7px 5px rgba(123, 123, 123, 0.932);
		box-shadow:         9px 7px 5px rgba(157, 157, 157, 0.932);
   
    /*estilização*/
    
}
.header-id-prestador{
    /*espaçamento*/
    
}
.header-logo{
    /*espaçamento*/
    width: 15%;
    
    /*estilização*/
    
}
.header-tit{
    /*identificativo*/
    font-size: 10pt;
    
}
#close{
    /*espaçamento*/
    padding: 1px;
    
    /*estilização*/
    
    /*responsividade*/
    
}

/*HEADER TERMINADO*/


/*SERVIÇOS INICIADO*/
.serviços{
    /*espaçamento*/
    padding-top: 100px;
    
    /*estilização*/
    
    /*responsividade*/
    

}
.serviços-imgs{
    /*espaçamento*/
    width: 100%;
    

}
/*SERVIÇOS FINALIZADO*/



/*CARDAPIO INICIADO*/
.cardapio{
    /*espaçamento*/
    
    
}
.cardapio-tit{
    /*espaçamento*/
    
    /*identificativo*/
    font-size: 14pt ;
    
    /*estilização*/
    


}
.cardapio-descrição-item{
    /*espaçamento*/
   
    /*responsividade*/
    

}
.cardapio-descrição-tit{
    /*espaçamento*/
    
    /*identificativo*/
    font-size: 12pt;
    width:100%;
    /*estilização*/
    
}
.cardapio-descrição-conteudo{
    /*espaçamento*/
    
    /*identificativo*/
    font-size: 8pt;
    
    /*estilização*/
    
}
/*CARDAPIO FINALIZADO*/




/*CONTRATAR INICIADO*/
.contratar{
    /*espaçamento*/
    padding: 15px;
    
    
    
}
.contratar-button{
    /*espaçamento*/
    width: 100%;
    border-radius: 10px;
    
    
    /*identificativo*/
    font-size: 8pt;
    
    /*estilização*/
    
    /*responsividade*/
    
}
.contratar-button:active{
    /*estilização*/
    
    /*responsividade*/
    
}
.link_contratar{
    
}
/*CONTRATAR FINALIZADO*/


/*FOOTER INICIADO*/
.footer{
    /*espaçamento*/
    display: none;
    
    /*estilização*/
    
}
.footer-logo{
    /*espalamento*/
  
}
/*FOOTER FINALIZADO*/


}

@media (min-width: 426px) and (max-width: 1024px){

    body{
    /*espaçamento*/
    
    /*estilização*/
    
}
/*BODY FINALIZADO ===>>> FINALIZAMOS AGORA POIS ELE É POUCO CONFIGURADO*/


/*CONTAINER INICIADO*/
.container{
    width: 60%;
    border-radius: 0;
    
}
/*CONTAINER FINALIZADO*/



/*HEADER INICIADO*/
.header{
    /*espaçamento*/
     
    
   
    /*estilização*/
    
}
.header-id-prestador{
    /*espaçamento*/
    
}
.header-logo{
    /*espaçamento*/
    width: 15%;
    
    /*estilização*/
    
}
.header-tit{
    /*identificativo*/
    font-size: 10pt;
    
}
#close{
    /*espaçamento*/
    padding: 1px;
    
    /*estilização*/
    
    /*responsividade*/
    
}

/*HEADER TERMINADO*/


/*SERVIÇOS INICIADO*/
.serviços{
    /*espaçamento*/
    
    
    /*estilização*/
    
    /*responsividade*/
    

}
.serviços-imgs{
    /*espaçamento*/
    width: 100%;
    

}
/*SERVIÇOS FINALIZADO*/



/*CARDAPIO INICIADO*/
.cardapio{
    /*espaçamento*/
    
    
}
.cardapio-tit{
    /*espaçamento*/
    
    /*identificativo*/
    font-size: 14pt ;
    
    /*estilização*/
    


}
.cardapio-descrição-item{
    /*espaçamento*/
   
    /*responsividade*/
    

}
.cardapio-descrição-tit{
    /*espaçamento*/
    
    /*identificativo*/
    font-size: 12pt;
    
    /*estilização*/
    
}
.cardapio-descrição-conteudo{
    /*espaçamento*/
    
    /*identificativo*/
    font-size: 10pt;
    
    /*estilização*/
    
}
/*CARDAPIO FINALIZADO*/




/*CONTRATAR INICIADO*/
.contratar{
    /*espaçamento*/
    padding: 15px;
    
    
    
}
.contratar-button{
    /*espaçamento*/
    width: 100%;
    border-radius: 10px;
    
    
    /*identificativo*/
    font-size: 8pt;
    
    /*estilização*/
    
    /*responsividade*/
    
}
.contratar-button:active{
    /*estilização*/
    
    /*responsividade*/
    
}
.link_contratar{
    
}
/*CONTRATAR FINALIZADO*/


/*FOOTER INICIADO*/
.footer{
    /*espaçamento*/
    display: none;
    
    /*estilização*/
    
}
.footer-logo{
    /*espalamento*/
  
}
/*FOOTER FINALIZADO*/


}

@media (min-width: 1024px) and (max-width: 1440px){
    .header-logo{
        /*espaçamento*/
        width: 10%;
        
        /*estilização*/
        
    }

}
