/* ESTRUTURA : OBJETIVOS 
-Body
    - Container-Header
        - header
            - header_images
                - img_logo_prestador
            - description
                - header_titulo
                - header_festarea_nicho

    - Menu Soundbar

        - menu-item

    - Serviços
        - serviços-item
            - serviços-item-topico
                - serviços-item-imagem
                - serviços-item-escritos
                    - serviços-item-tit
                    - serviços-item-desc
            - contratar
                - contratar-tit
                - material-symbol        
    - Footer
        - footer-logo

    
    



*/

/*CONFIGURAÇÕES GERAIS INICIADAS*/
*{
    /*espaçamento*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CONFIGURAÇÕES GERAIS FINALIZADAS*/




/*BODY INICIADO*/
body{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: rgb(255, 212, 244); 
}
/*BODY FINALIZADO*/





/*CONTAINER-HEADER INICIADO*/
.container-header{

    /*espaçamento*/
    width: 50%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 0;

    /*estilização*/
    background-color: #ff0084;   
}
.header{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    padding: 0;
    
    justify-content: center;
    align-items: center;
}
.header_images{
    /*espaçamento*/
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    

}
.img_logo_prestador{
    /*espaçamento*/
    width: 50%;

    /*estilização*/


    
}
.description{
    /*espaçamento*/
    
}
.header_titulo{
    /*espaçamento*/
    padding: 0.1em;

    /*estilização*/
    font-size: 24pt;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}
.header_festarea_nicho{
    /*espaçamento*/
    
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    /*estilização*/
    color: rgb(255, 255, 255);

}
/*CONTAINER-HEADER FINALIZADO*/




/*MENU SOUND-BAR INICIADO*/
.menu-soundbar{
    /*espaçamento*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    padding: 0.5em;
    gap: 5vh;
    /*estilização*/
    background-color: white;
    
    
}
.menu-item{
    /*espaçamento*/
    padding: 2.5vh;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    /*estilização*/
    font-family: bahnschrift;
    color:black;
    
}
#comida_bebida { /*Estilização para Destacar a página navegada no momento.*/
    /*espaçamento*/
    padding: 1vh;
    /*estilização*/
    color: #ff0084;
    border-bottom: 3px solid #ff0084;
}
a{
    /*estilização*/
    text-decoration: none;
}

#icon-soundbar-restaurant{
    background-color: transparent;
    color: #ff0084;
    
    

}
/*MENU SOUND-BAR FINALIZADO*/




/*SERVIÇOS INICIADO */
.serviços{
    /*espaçamento*/
    width: 50%;
    padding: 0.1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*estilização*/
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.serviços-tipos{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding: 1vh;
    padding-left: 3.5vh;
    font-size: 16pt;
    font-family: bahnschrift;
    
}
.serviços-item{
    /*espaçamento*/
    width: 100%;
    margin: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*estilização*/
    border: transparent;
    border-bottom: 2px solid rgb(211, 211, 211);
    border-style: dotted;
    border-radius: 10px;
    
}

.serviços-item-topico{
    /*espaçamento*/
    display: flex;
    gap: 1em;
}
.serviços-item-imagem{
    /*espaçamento*/
    width: 20%;
    height: auto;
    display: flex;
    /*responsividade*/
    flex-wrap: wrap;
    border-radius: 10px;
}
.serviços-item-escritos{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
.serviços-item-tit{
    /*identificação*/
    font-family: bahnschrift;
    /*estilização*/
    font-size: 12pt;
    color: #d2006d;
    cursor: pointer;
}
.serviços-item-tit:active{/*RESPONSIVIDADE : Serve para quando clicarmos no item, ele responder com o que foi estabelecido pelo código*/
    color: rgb(140, 0, 0);
}
.serviços-item-desc{
    /*identificação*/
    font-family: bahnschrift;
    /*estilização*/
    color: black;

}
#serviços-item-barretosbar{
    border: none;
}
#click{
    color: white;
    
    width: 20%;
}
.contratar{
    /*espaçamento*/
    width: 9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    /*estilização*/
    border-radius: 10px;
    background-color: #ff0084;
    
    /*responsividade*/
    cursor: pointer;
    
}
.contratar-tit{
    /*espaçamento*/
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    /*identificativo*/
    font-family: bahnschrift;
    /*responsividade*/
    color: white;
    
}
.bi{
    color: white;
}

/*SERVIÇOS FINALIZADO*/




/*FOOTER INICIADO*/
.footer{
    /*espaçamento*/
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: transparent;
}
.footer-logo{
    /*espalamento*/
    width: 15%;
    height: auto;   
}
/*FOOTER FINALIZADO*/

/*---------------------------------------------------->>> MEDIA QUERY : 320PX <<<----------------------------------------------------*/


@media (min-width: 0px) and (max-width: 320px){
    /*BODY INICIADO*/
body{
    /*espaçamento*/
    
}
/*BODY FINALIZADO*/

/*CONTAINER-HEADER INICIADO*/
.container-header{
    /*espaçamento*/
    width: 100%;
    /*estilização*/

}
.header{
    /*espaçamento*/
   
}
.header_images{
    /*espaçamento*/
    
    
}
.img_logo_prestador{
    width: 60%;
    
}
.description{
    
}
.header_titulo{
    font-size: 12pt;
   
    
}
.header_festarea_nicho{
    font-size: 8pt;
    

}
/*CONTAINER-HEADER FINALIZADO*/




/*MENU SOUND-BAR INICIADO*/
.menu-soundbar{
    background-color: white;
    width: 100%;
    gap: 5px;
    

}
.menu-item{
    font-size: 6pt; 
    padding: 0;
}
#serviços_principais{ 
}
a{

}

#icon-soundbar{
   
    
    

}
/*MENU SOUND-BAR FINALIZADO*/




/*SERVIÇOS INICIADO */
.serviços{
    width: 100%;
    
}
.serviços-item{
    
    
    
}

.serviços-item-topico{
    
}
.serviços-item-imagem{
    width: 50%;
    height: 15vh;
    
}
.serviços-item-escritos{
    
    
}
.serviços-item-tit{
    
    font-size: 10pt;
   
}
.serviços-item-desc{
    font-size: 6pt;
    display: none;
    
    

}
#serviços-item-festabotequim{
   
}
.contratar{
    width: 100%;
    padding: 5px;
    border-radius: 500px;
    display: flex;
    gap: 5px;
    

}
.contratar-tit{
    
    font-size: 6pt;
    
    
}
.bi{
    width: 18%;
    
    
    
}

/**/

/*SERVIÇOS FINALIZADO*/


/*FOOTER INICIADO*/
.footer{
    
}
.footer-logo{
    width: 50%;
    
}
/*FOOTER FINALIZADO*/

}

/*---------------------------------------------------->>> MEDIA QUERY : 321PX <---> 425PX <<<----------------------------------------------------*/

@media (min-width: 321px) and (max-width: 425px){
        /*BODY INICIADO*/
    body{
        /*espaçamento*/
        
    }
    /*BODY FINALIZADO*/

    /*CONTAINER-HEADER INICIADO*/
    .container-header{
        /*espaçamento*/
        width: 100%;
        /*estilização*/

    }
    .header{
        /*espaçamento*/
    
    }
    .header_images{
        /*espaçamento*/
        
    }
    .img_logo_prestador{
        width: 50%;
        
    }
    .description{
        
    }
    .header_titulo{
        font-size: 12pt;
    
        
    }
    .header_festarea_nicho{
        font-size: 8pt;
        

    }
    /*CONTAINER-HEADER FINALIZADO*/




    /*MENU SOUND-BAR INICIADO*/
    .menu-soundbar{
        background-color: white;
        width: 100%;
        display: flex;
        gap: 0;
    }
    .menu-item{
        font-size: 6.5pt;
        
        padding: 0;
    }
    #serviços_principais{ 
    }
    a{

    }

    #icon-soundbar{
    
        
        

    }
    /*MENU SOUND-BAR FINALIZADO*/




    /*SERVIÇOS INICIADO */
    .serviços{
        width: 100%;
        
    }
    .serviços-item{
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .serviços-item-topico{
        
        
        
    }
    .serviços-item-imagem{
        width: 30%;
        height: auto;
        
    }
    
    .serviços-item-tit{
        
        font-size: 14pt;
    
    }
    .serviços-item-desc{
        width: 100%;
        font-size: 7pt;

    }
    #serviços-item-desc-lema{
        display: none;
    
    }
    .contratar{
        width: 100%;
        padding: 7.5px;
        border-radius: 500px;
        display: flex;
        gap: 10px;
        

    }
    .contratar-tit{

        font-size: 6pt;
        
        
    }
    .bi{
        width: 18%;
        
        
        
    }

    /*SERVIÇOS FINALIZADO*/


    /*FOOTER INICIADO*/
    .footer{
        
    }
    .footer-logo{
        width: 50%;
        
    }
    /*FOOTER FINALIZADO*/

}

/*---------------------------------------------------->>> MEDIA QUERY : 426PX <---> 768PX <<<----------------------------------------------------*/

@media (min-width: 426px) and (max-width: 768px){
        /*BODY INICIADO*/
    body{
        /*espaçamento*/
        
    }
    /*BODY FINALIZADO*/

    /*CONTAINER-HEADER INICIADO*/
    .container-header{
        /*espaçamento*/
        width: 100%;
        /*estilização*/

    }
    .header{
        /*espaçamento*/
    
    }
    .header_images{
        /*espaçamento*/
        
    }
    .img_logo_prestador{
        width: 60%;
        
    }
    .description{
        display: none;
        
    }
    .header_titulo{
        font-size: 12pt;
    
        
    }
    .header_festarea_nicho{
        font-size: 8pt;
        

    }
    /*CONTAINER-HEADER FINALIZADO*/




    /*MENU SOUND-BAR INICIADO*/
    .menu-soundbar{
        background-color: white;
        width: 100%;
    }
    .menu-item{
        font-size: 8pt; 
    }
    #serviços_principais{ 
    }
    a{

    }

    #icon-soundbar{
    
        
        

    }
    /*MENU SOUND-BAR FINALIZADO*/




    /*SERVIÇOS INICIADO */
    .serviços{
        width: 100%;
        
    }
    .serviços-item{
        
        
        
    }

    .serviços-item-topico{
        
    }
    .serviços-item-imagem{
        width: 30%;
        height: auto;
        
    }
    .serviços-item-escritos{
        
        
    }
    .serviços-item-tit{
        
        font-size: 14pt;
    
    }
    .serviços-item-desc{
        width: 200%;
        font-size: 8pt;
    }
    #serviços-item-festabotequim{
    
    }
    .contratar{
        display: flex;
        gap: 10px;
        width: 100%;
        padding: 7.5px;
        border-radius: 500px;
        

    }
    .contratar-tit{
        
        font-size: 6pt;
        
        
    }
    .bi{
        width: 18%;
        
        
        
    }

    /**/

    /*SERVIÇOS FINALIZADO*/


    /*FOOTER INICIADO*/
    .footer{
        
    }
    .footer-logo{
        width: 40%;
        
    }
    /*FOOTER FINALIZADO*/

    

}

/*---------------------------------------------------->>> MEDIA QUERY : 769PX <---> 1024PX <<<----------------------------------------------------*/

@media (min-width: 769px) and (max-width: 1024px){
    /*BODY INICIADO*/
body{
    /*espaçamento*/
    
}
/*BODY FINALIZADO*/

/*CONTAINER-HEADER INICIADO*/
.container-header{
    /*espaçamento*/
    width: 70%;
    /*estilização*/

}
.header{
    /*espaçamento*/

}
.header_images{
    /*espaçamento*/
    
}
.img_logo_prestador{
    width: 50%;
    
}
.description{
    
}
.header_titulo{
    font-size: 12pt;

    
}
.header_festarea_nicho{
    font-size: 8pt;
    

}
/*CONTAINER-HEADER FINALIZADO*/




/*MENU SOUND-BAR INICIADO*/
.menu-soundbar{
    background-color: white;
    width: 70%;
}
.menu-item{
    font-size: 8pt; 
}
#serviços_principais{ 
}
a{

}

#icon-soundbar{

    
    

}
/*MENU SOUND-BAR FINALIZADO*/




/*SERVIÇOS INICIADO */
.serviços{
    width: 70%;
    
}
.serviços-item{
    
    
    
}

.serviços-item-topico{
    
}
.serviços-item-imagem{
    width: 30%;
    height: auto;
    
}
.serviços-item-escritos{
    
    
}
.serviços-item-tit{
    
    font-size: 14pt;

}
.serviços-item-desc{
    width: 200%;
    font-size: 8pt;
}
#serviços-item-festabotequim{

}
.contratar{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 7.5px;
    border-radius: 500px;
    

}
.contratar-tit{
    
    font-size: 6pt;
    
    
}
.bi{
    width: 18%;
    
    
    
}

/**/

/*SERVIÇOS FINALIZADO*/


/*FOOTER INICIADO*/
.footer{
    
}
.footer-logo{
    width: 40%;
    
}
/*FOOTER FINALIZADO*/



}