/* FESTPADRÃO : TELAS PRINCIPAIS

Instruções de Padronização:
- Mesma configuração entre todas as páginas
- Header , Soundbar e footer é a mesma coisa em todas as páginas
*/




/*Configurações Gerais Iniciadas*/
*{
    /*espaçamento*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'bahnschrift';
}
a{
    text-decoration: none;
    color: transparent;
}
/*Configurações Gerais Finalizadas*/

/*Body Iniciado*/
body{
    /*espaçamento*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: rgb(255, 212, 244); 
}
/*Body Finalizado*/


/*Container-Header Iniciado*/
.container-header{
    /*espaçamento*/
    width: 50%;
    height: auto;
    padding: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-image: linear-gradient( to right, rgb(140, 0, 0), rgb(171, 0, 0), rgb(226, 0, 0), rgb(255, 0, 0) , rgb(255, 65, 65) );
}
.header{
    /*espaçamento*/
    padding: 0;
    margin: 0;
} 
/*Container-Header Finalizado*/

/*Compartilhado Iniciado*/
.compartilhado{
    padding-top: 1.5vh;
    padding-left: 1.5vh;
    padding-bottom: 1.5vh;
}
.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;
    
}
.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
}
.dropdown-child {
    display: none;
    background-color: white;
    width: 40px;
    border-radius: 10px;
}
.dropdown-child a {
    padding: 1vh;
    text-decoration: none;
    display: block;

}
.dropdown:hover .dropdown-child {
    display: block;
}
.whatsapp-btn{
    color: green;
    width: 100%;
    height: auto;
}
.instagram-btn{
    color: #DD2A7B;
    width: 100%;
    height: auto;
}
.facebook-btn{
    color: blue;
    width: 100%;
    height: auto;
}
/*Compartilhado Finalizado*/

/*Header Iniciado
O header se repete em todas as páginas*/
.header_images{
    /*espaçamento*/
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_logo_prestador{
    /*espaçamento*/
    width: 25%;
    background-color: #ff0080;
    border-radius: 300px;
    /*estilização*/
    -webkit-box-shadow: 9px 7px 5px rgba(0, 0, 0, 0.932);
		-moz-box-shadow:    9px 7px 5px rgba(44, 44, 44, 0.932);
		box-shadow:         9px 7px 5px rgba(37, 37, 37, 0.932);
}
.description{
    /*espaçamento*/
    width: 100%;
    text-align: center;
    padding: 2em;
}
.header_titulo{
    /*espaçamento*/
    padding: 0.1em;
    /*estilização*/
    font-size: 24pt;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold; 
}
.header_festarea_nicho{
    /*espaçamento*/
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    /*estilização*/
    color: rgb(255, 255, 255);
}
/*Header Finalizado*/

/*Menu Soundbar Iniciado
- O soundbar não pode ter nenhuma medida para seus itens*/
.menu_soundbar{
    background-color: white;
    width: 50%;
    display: flex;
    padding: 2.5vh;
    justify-content: center;
    align-items: center;
    column-gap: 5vh;
}
.item_menu_soundbar{
    width: max-content;
    display: flex;
    column-gap: 1vh;
    align-items: center;
    color: black;
    padding: 0.25vh;
}
.orçamento{
    color: red;
    border-bottom: 2px solid red;
}
/*Menu Soundbar Finalizado*/




/*SERVIÇOS INICIADO */
.serviços{
    /*espaçamento*/
    width: 50%;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*estilização*/
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titulo_servicos{
    background-color: rgb(172, 0, 0);
    padding: 1em;
    font-size: 16pt;
    font-family: bahnschrift;
    color: white;
    border-radius: 100px;
    text-align: center;
}
.dadosparaorçamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2.5vh;
    text-align: center;
   
}
.dadosserviço{
    display: flex;
    flex-direction: column;
}
.dadosconvidados{
    display: flex;
    flex-direction: column;
    
}
.tit{
    padding: 1em;
    text-align: center;
    font-family: bahnschrift;
    color: rgb(172,0,0);
}
.label_data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.label{
   
    color: rgb(172, 0, 0);
    padding: 0.75vh;
    font-family: 'bahnschrift';
}
#data{
    width : 98%;	
}
.topico{
    margin: 0.25em;
    border: 0px solid;
    padding: 0.75em;
    border-radius: 5px;
    text-align: center;
    /*estilização*/
    -webkit-box-shadow: 9px 7px 5px rgba(214, 214, 214, 0.932);
		-moz-box-shadow:    9px 7px 5px rgba(255, 255, 255, 0.932);
		box-shadow:         9px 7px 5px rgba(200, 200, 200, 0.932);
    

}
.topico1{
    background-color: rgb(172, 0, 0);
    color: white;
    padding: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.topico1:active{
    background-color: rgb(140, 0, 0);
}

#resultado{
    width: 100%;
    height: auto;
    background-color: rgb(172, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    
    border-radius: 5px;
    
}
#copyButton{
    width: 100%;
    color: white;
    cursor: pointer;
    display: flex;
    border: 2px solid black;

}

#res{
    width: 100%;
    height: auto;
    background-color: rgb(172, 0, 0);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    font-family: bahnschrift;
    color: white;
    font-size: 10pt;
    border-radius: 5px;
}
.img_res_orçamento{
    width: 35%;
    padding: 0vh;
}

/*SERVIÇOS FINALIZADO*/




/*Footer Iniciado*/
.footer{
    /*espaçamento*/
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*estilização*/
    background-color: transparent;
}
#footer-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit_footer{
    font-size: 16pt;
    color: #ff0080;
    padding: 1vh;
}
.subtit_footer{
    font-size: 20pt;
    color: #DD2A7B;
    padding: 0.5vh;
}
.footer-logo{
    /*espalamento*/
    width: 12.5%;
    height: auto;   
    
}
/*Footer Finalizado*/



/*Início do Media*/


/*De 0 a 320px*/
@media (min-width: 0px) and (max-width: 320px){
    /*Body Iniciado*/
    body{
        background-color: white;
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 100%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
    .compartilhado{
        
    }
    .mainmenubtn {
        
    }
    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .dropdown-child {
        display: none;
        background-color: white;
        width: 40px;
        border-radius: 10px;
    }
    .dropdown-child a {
        padding: 1vh;
        text-decoration: none;
        display: block;

    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .whatsapp-btn{
        color: green;
        width: 100%;
        height: auto;
    }
    .instagram-btn{
        color: #DD2A7B;
        width: 100%;
        height: auto;
    }
    .facebook-btn{
        color: blue;
        width: 100%;
        height: auto;
    }
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 40%;
        border-radius: 100px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 22pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 12pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 12pt;
        display: flex;
        column-gap: 1vh;
        align-items: center;
        color: black;
        padding: 0.25vh;
    }
    .orçamento{
	color: red;
	border-bottom: 2px solid red;
    }
    /*Menu Soundbar Finalizado*/

    /*Serviços Iniciado*/
    .serviços{
        width: 100%;
	    padding-top: 0;
    }
    .serviços_item{
        
    }
    .serviços_item_imagem{
        width: 30%;
    }
    .serviços_item_escritos_imagem{
        column-gap: 1vh;
        display: flex;
        padding: 1vh;
    }
    .serviços_item_escritos{
        display: flex;
        flex-direction: column;
        justify-content: center ;

    }
    .serviços_item_escritos_tit{

    }
    .serviços_item_escritos_desc{
        display: none;
    }
    .serviços_item_button{
        padding: 1vh;
        width: max-content;
        border-radius: 500px;
    }
    .serviços_item_button_tit{
        display: none;
    }
    .restaurant_menu{
        
    }
    /*Serviços Finalizado*/

    /*Footer Iniciado*/
    .footer{
        /*espaçamento*/
        width: 100%;
    }
    #footer-logo-link{
    }
    .tit_footer{
        font-size: 12pt;
    }
    .subtit_footer{
        font-size: 20pt;
        color: #DD2A7B;
    }
    .footer-logo{
        /*espalamento*/
        width: 20%;
        height: auto;
    }
    /*Footer Finalizado*/

}

/*De 321px a 375px*/
@media (min-width: 321px) and (max-width: 375px){
    /*Body Iniciado*/
    body{
        background-color: white;
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 100%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
    
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 40%;
        border-radius: 100px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 22pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 12pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 12pt;
        display: flex;
        column-gap: 1vh;
        align-items: center;
        color: black;
        padding: 0.25vh;
    }
    .orçamento{
        color: red;
        border-bottom: 2px solid red;
    }
    /*Menu Soundbar Finalizado*/

    /*Serviços Iniciado*/
    .serviços{
        width: 100%;
	padding-top: 0;
    }
    .serviços_item{
        
    }
    .serviços_item_imagem{
        width: 30%;
    }
    .serviços_item_escritos_imagem{
        column-gap: 1vh;
        display: flex;
        padding: 1vh;
    }
    .serviços_item_escritos{
        

    }
    .serviços_item_escritos_tit{
        
    }
    .serviços_item_escritos_desc{
        
    }
    .serviços_item_button{
        padding: 1vh;
        width: max-content;
        border-radius: 500px;
    }
    .serviços_item_button_tit{
        display: none;
    }
    .restaurant_menu{
        
    }
    /*Serviços Finalizado*/

    /*Footer Iniciado*/
    .footer{
        /*espaçamento*/
        width: 100%;
    }
    #footer-logo-link{
    }
    .tit_footer{
        font-size: 14pt;
        padding: 1vh;
    }
    .subtit_footer{
        font-size: 20pt;
        color: #DD2A7B;
    }
    .footer-logo{
        /*espalamento*/
        width: 20%;
        height: auto;
    }
    /*Footer Finalizado*/
}

/*De 376px a 425px*/
@media (min-width: 376px) and (max-width: 425px){
    /*Body Iniciado*/
    body{
        background-color: white;
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 100%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/

    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 40%;
        border-radius: 100px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 22pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 12pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 100%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 12pt;
        display: flex;
        column-gap: 1vh;
        align-items: center;
        color: black;
        padding: 0.25vh;
    }
    .orçamento{
	color: red;
	border-bottom: 2px solid red;
    }
    /*Menu Soundbar Finalizado*/

    /*Serviços Iniciado*/
    .serviços{
        width: 100%;
	padding-top: 0;
    }
    .serviços_item{
        
    }
    .serviços_item_imagem{
        width: 30%;
    }
    .serviços_item_escritos_imagem{
        column-gap: 1vh;
        display: flex;
        padding: 1vh;
    }
    .serviços_item_escritos{
        

    }
    .serviços_item_escritos_tit{
        
    }
    .serviços_item_escritos_desc{
        
    }
    .serviços_item_button{
        padding: 1vh;
        width: max-content;
        border-radius: 500px;
    }
    .serviços_item_button_tit{
        display: none;
    }
    .restaurant_menu{
        
    }
    /*Serviços Finalizado*/

    /*Footer Iniciado*/
    .footer{
        /*espaçamento*/
        width: 100%;
    }
    #footer-logo-link{
    }
    .tit_footer{
        font-size: 14pt;
        color: #ff0080;
        padding: 1vh;
    }
    .subtit_footer{
        font-size: 20pt;
    }
    .footer-logo{
        /*espalamento*/
        width: 20%;
        height: auto;
    }
    /*Footer Finalizado*/
}

/*De 426px a 768px*/
@media (min-width: 426px) and (max-width: 768px){
    /*Body Iniciado*/
    body{
        
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 75%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
    .compartilhado{
        
    }
    .mainmenubtn {
        
    }
    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 10%;
    }
    .dropdown-child {
        display: none;
        background-color: white;
        width: 40px;
        border-radius: 10px;
    }
    .dropdown-child a {
        padding: 1vh;
        text-decoration: none;
        display: block;

    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    .whatsapp-btn{
        color: green;
        width: 100%;
        height: auto;
    }
    .instagram-btn{
        color: #DD2A7B;
        width: 100%;
        height: auto;
    }
    .facebook-btn{
        color: blue;
        width: 100%;
        height: auto;
    }
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 40%;
        border-radius: 200px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 30pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 20pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 75%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 10pt;
        display: flex;
        column-gap: 1.5vh;
        align-items: center;
        color: black;
        padding: 0.50vh;
    }
    /*Menu Soundbar Finalizado*/

    /*Serviços Iniciado*/
    .serviços{
        width: 75%;
	padding-top: 0;
    }
    .serviços_item{
        
    }
    .serviços_item_imagem{
        width: 30%;
    }
    .serviços_item_escritos_imagem{
        column-gap: 1vh;
        display: flex;
        padding: 1vh;
    }
    .serviços_item_escritos{
        

    }
    .serviços_item_escritos_tit{
        
    }
    .serviços_item_escritos_desc{
        
    }
    .serviços_item_button{
        padding: 2vh;
        width: max-content;
    }
    .serviços_item_button_tit{
        
    }
    .restaurant_menu{
        
    }
    /*Serviços Finalizado*/

    /*Footer Iniciado*/
    .footer{
        /*espaçamento*/
        width: 75%;
    }
    #footer-logo-link{
    }
    .tit_footer{
        font-size: 16pt;
        color: #ff0080;
        padding: 1vh;
    }
    .subtit_footer{
        font-size: 250%;
        color: #DD2A7B;
    }
    .footer-logo{
        /*espalamento*/
        width: 20%;
        height: auto;
    }
    /*Footer Finalizado*/




}

/*De 769px a 1024px*/
@media (min-width: 769px) and (max-width: 1024px){
    /*Body Iniciado*/
    body{
        
    }
    /*Body Finalizado*/
    /*Container-Header Iniciado*/
    .container-header{
        width: 50%;
    }
    .header{
        
    } 
    /*Container-Header Finalizado*/
    /*Compartilhado Iniciado*/
   
    /*Compartilhado Finalizado*/
    /*Header Iniciado*/
    .header_images{
        /*espaçamento*/
    }
    .img_logo_prestador{
        /*espaçamento*/
        width: 40%;
        border-radius: 200px;
        /*estilização*/
    }
    .description{
        /*espaçamento*/
        width: 100%;
        text-align: center;
        padding: 2em;
    }
    .header_titulo{
        /*espaçamento*/
        padding: 0.1em;
        /*estilização*/
        font-size: 32pt;
    }
    .header_festarea_nicho{
        /*espaçamento*/
        font-size: 22pt;
        font-family: Arial, Helvetica, sans-serif;
        /*estilização*/
        color: rgb(255, 255, 255);

    }
    /*Header Finalizado*/
    /*Menu Soundbar Iniciado*/
    .menu_soundbar{
        width: 50%;
        display: flex;
        justify-content: start;
        overflow-x: scroll;
    }
    .item_menu_soundbar{
        font-size: 14pt;
        display: flex;
        column-gap: 1.75vh;
        align-items: center;
        color: black;
        padding: 0.50vh;
    }
    /*Menu Soundbar Finalizado*/

    /*Serviços Iniciado*/
    .serviços{
        width: 50%;
	padding-top: 0;
    }
    .serviços_item{
        
    }
    .serviços_item_imagem{
        width: 30%;
    }
    .serviços_item_escritos_imagem{
        column-gap: 1vh;
        display: flex;
        padding: 1vh;
    }
    .serviços_item_escritos{
        

    }
    .serviços_item_escritos_tit{
        
    }
    .serviços_item_escritos_desc{
        
    }
    .serviços_item_button{
        padding: 2vh;
        width: max-content;
    }
    .serviços_item_button_tit{
        
    }
    .restaurant_menu{
        
    }
    /*Serviços Finalizado*/

    /*Footer Iniciado*/
    .footer{
        /*espaçamento*/
        width: 50%;
    }
    #footer-logo-link{
    }
    .tit_footer{
        font-size: 18pt;
        color: #ff0080;
        padding: 1vh;
    }
    .subtit_footer{
        font-size: 20pt;
        color: #DD2A7B;
    }
    .footer-logo{
        /*espalamento*/
        width: 20%;
        height: auto;
    }
    /*Footer Finalizado*/
}

/*Final do Media*/
 
